examples/n8n-linkedin-analysis/workflow.json
{
  "name": "Monitor LinkedIn Competitor Engagement & Analysis with Bright Data & AI",
  "nodes": [
    {
      "parameters": {},
      "id": "5eed5537-b38c-4a15-965b-6aa0433c6409",
      "name": "🔘 Trigger: Manual Start",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        416,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "01b30c4d-3a89-418a-b939-ac1e886002a4",
              "name": "URL",
              "type": "string",
              "value": "https://www.linkedin.com/company/hubspot/"
            }
          ]
        },
        "options": {}
      },
      "id": "c45a95e6-3a8f-4198-9b29-ee9a36059ac4",
      "name": "🔗 Set LinkedIn Company URL",
      "type": "n8n-nodes-base.set",
      "position": [
        640,
        960
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Scrape the below user profile on LinkedIn and get the latest 5 post data:\n{{ $json.URL }}",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "c7b82e78-1ef2-4c5f-aff2-a03e3a7ea4b6",
      "name": "🤖 Agent: Fetch LinkedIn Posts (via MCP Tool)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        896,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "4a43225a-b400-47cf-b252-36516d382ff1",
      "name": "🌐 Bright Data MCP Client",
      "type": "n8n-nodes-mcp.mcpClientTool",
      "position": [
        1056,
        1264
      ],
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "// Get the posts array from Agent output\nconst posts = $json.output;\n\n// Initialize counters\nlet totalLikes = 0;\nlet totalComments = 0;\n\n// Loop through posts and sum likes and comments\nfor (const post of posts) {\n  totalLikes += post.likes;\n  totalComments += post.comments;\n}\n\n// Calculate averages\nconst averageLikes = totalLikes / posts.length;\nconst averageComments = totalComments / posts.length;\n\n// Return summary object\nreturn [\n  {\n    json: {\n      totalPosts: posts.length,\n      totalLikes: totalLikes,\n      totalComments: totalComments,\n      averageLikes: averageLikes,\n      averageComments: averageComments\n    }\n  }\n];\n"
      },
      "id": "21324291-7117-44d4-aaff-601d80b93580",
      "name": "📈 Analyze Engagement Metrics",
      "type": "n8n-nodes-base.code",
      "position": [
        1392,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1FzzslRBkdEgz14zuyy1J5IAMAHgkmdmiYiEqYG9AnOI",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FzzslRBkdEgz14zuyy1J5IAMAHgkmdmiYiEqYG9AnOI/edit?usp=drivesdk",
          "cachedResultName": "Competitor post analysis average"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FzzslRBkdEgz14zuyy1J5IAMAHgkmdmiYiEqYG9AnOI/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "Total likes": "={{ $json.totalLikes }}",
            "Total posts": "={{ $json.totalPosts }}",
            "Average likes": "={{ $json.averageLikes }}",
            "Total comments": "={{ $json.totalComments }}",
            "Average comments": "={{ $json.averageComments }}"
          },
          "schema": [
            {
              "id": "Total posts",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Total posts",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total likes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Total likes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Total comments",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Total comments",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Average likes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Average likes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Average comments",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Average comments",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "469f5efc-276c-449b-ab50-4cd3454946f6",
      "name": "📥 Save Averages to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1616,
        960
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "jsCode": "// Get the Agent output (array of posts)\nconst posts = $('🤖 Agent: Fetch LinkedIn Posts (via MCP Tool)').first().json.output;\n\n// Map each post to its own item\nreturn posts.map(post => {\n  return {\n    json: post\n  };\n});\n"
      },
      "id": "8f554af6-1d6d-4225-9ffb-5814e4ca2773",
      "name": "🧾 Format Post Content",
      "type": "n8n-nodes-base.code",
      "position": [
        1872,
        960
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1R-rAkvVh1lhbPrFsxuBUXNMFFFgsyIWzS4OritRiHLU",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R-rAkvVh1lhbPrFsxuBUXNMFFFgsyIWzS4OritRiHLU/edit?usp=drivesdk",
          "cachedResultName": "Competitor post analysis"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1R-rAkvVh1lhbPrFsxuBUXNMFFFgsyIWzS4OritRiHLU/edit#gid=0",
          "cachedResultName": "Sheet1"
        },
        "columns": {
          "value": {
            "date": "={{ $json.date }}",
            "likes": "={{ $json.likes }}",
            "video": "={{ $json.videos }}",
            "content": "={{ $json.content }}",
            "comments": "={{ $json.comments }}",
            "post link": "={{ $json.post_link }}",
            "Competitor": "={{ $json.competitor }}",
            "Post title": "={{ $json.post_title }}"
          },
          "schema": [
            {
              "id": "Competitor",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Competitor",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Post title",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "Post title",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "likes",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "likes",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "comments",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "content",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "post link",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "post link",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "video",
              "type": "string",
              "display": true,
              "required": false,
              "displayName": "video",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8274a619-f1d2-4e14-9753-665f060611c1",
      "name": "📥 Save Posts to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2096,
        960
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "df570435-b29c-444f-99a0-f3d8bf951673",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        832,
        1264
      ],
      "typeVersion": 1.2
    },




    {
      "parameters": {
        "options": {}
      },
      "id": "3991b4a5-b3d8-4869-b620-b0eff43e56b1",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "position": [
        1216,
        1264
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "c9cfdde4-39e7-42de-a66c-94a1264d7b33",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        1168,
        1520
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "jsonSchemaExample": "[\n  {\n    \"competitor\": \"HubSpot\",\n    \"post_title\": \"HubSpot\",\n    \"date\": \"3 weeks ago\",\n    \"likes\": 54,\n    \"comments\": 3,\n    \"content\": \"🚨 Nicht weiter scrollen! 🚨 Wir sind das ✨erste✨ CRM mit einem Deep-Research-Connector für ChatGPT Deine HubSpot-Daten + das Hirn von ChatGPT = 🤯 🔗 Hol dir jetzt den Early Access\",\n    \"post_link\": \"https://de.linkedin.com/posts/hubspot_hubspot-und-chatgptpdf-activity-7336304617892306944-Ob8h\",\n    \"videos\": []\n  },\n  {\n    \"competitor\": \"HubSpot\",\n    \"post_title\": \"HubSpot\",\n    \"date\": \"1 day ago\",\n    \"likes\": 79,\n    \"comments\": 10,\n    \"content\": \"when you need a social content framework that's effective AND memorable\",\n    \"post_link\": null,\n    \"videos\": [\n      \"https://dms.licdn.com/playlist/vid/v2/D4D10AQEmIrq4MYknpQ/mp4-640p-30fp-crf28/B4DZetK.GFGkA4-/0/1750957032138?e=2147483647&v=beta&t=PtE4WAUXBXb2VkZChI7m-R4BGONJY0vY0IGCHyX4lXQ\"\n    ]\n  },\n  {\n    \"competitor\": \"HubSpot\",\n    \"post_title\": \"HubSpot\",\n    \"date\": \"4 days ago\",\n    \"likes\": 116,\n    \"comments\": 12,\n    \"content\": \"plot twist: the co-worker who complained about being cold all winter is now the office hero for knowing where the thermostat is\",\n    \"post_link\": \"https://www.linkedin.com/posts/hubspot_plot-twist-the-co-worker-who-complained-activity-7343003120873922560-OIh3\",\n    \"videos\": []\n  },\n  {\n    \"competitor\": \"HubSpot\",\n    \"post_title\": \"HubSpot\",\n    \"date\": \"1 week ago\",\n    \"likes\": 112,\n    \"comments\": 4,\n    \"content\": \"meet my new work bestie: Breeze Customer Agent\",\n    \"post_link\": null,\n    \"videos\": [\n      \"https://dms.licdn.com/playlist/vid/v2/D4D10AQGcS77ueYgGeQ/mp4-720p-30fp-crf28/B4DZeITpeIGgBM-/0/1750338545668?e=2147483647&v=beta&t=NrehXjQVj_uk7nHVFrvs18p4-tLUleLObMGKrmsCoqY\"\n    ]\n  },\n  {\n    \"competitor\": \"HubSpot\",\n    \"post_title\": \"HubSpot\",\n    \"date\": \"1 week ago\",\n    \"likes\": 104,\n    \"comments\": 11,\n    \"content\": \"must have been the wind\",\n    \"post_link\": null,\n    \"videos\": [\n      \"https://dms.licdn.com/playlist/vid/v2/D4D05AQG6kJ8EqkBmAw/mp4-640p-30fp-crf28/B4DZeEjsVIGUBg-/0/1750275644735?e=2147483647&v=beta&t=7Pfujdbu6rXW34zKPoDHXrnHG93T900bKVQBFBllbLA\"\n    ]\n  }\n]\n"
      },
      "id": "2e74bb7f-634f-4840-919d-e825feb66b11",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        1360,
        1520
      ],
      "typeVersion": 1.2
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "🤖 Agent: Fetch LinkedIn Posts (via MCP Tool)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "🧾 Format Post Content": {
      "main": [
        [
          {
            "node": "📥 Save Posts to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "🤖 Agent: Fetch LinkedIn Posts (via MCP Tool)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "🔘 Trigger: Manual Start": {
      "main": [
        [
          {
            "node": "🔗 Set LinkedIn Company URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🌐 Bright Data MCP Client": {
      "ai_tool": [
        [
          {
            "node": "🤖 Agent: Fetch LinkedIn Posts (via MCP Tool)",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Set LinkedIn Company URL": {
      "main": [
        [
          {
            "node": "🤖 Agent: Fetch LinkedIn Posts (via MCP Tool)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📈 Analyze Engagement Metrics": {
      "main": [
        [
          {
            "node": "📥 Save Averages to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📥 Save Averages to Google Sheets": {
      "main": [
        [
          {
            "node": "🧾 Format Post Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Agent: Fetch LinkedIn Posts (via MCP Tool)": {
      "main": [
        [
          {
            "node": "📈 Analyze Engagement Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bed94932-457a-4bc2-ae93-888c22bc0853",
  "meta": {
    "templateId": "5949",
    "instanceId": "a5266093bdde5f9d45de8aff22f872f6c0b94695f3f11cbd6e47357e427878ff"
  },
  "id": "nWyOaJKTlHgzsENr",
  "tags": []
}